.start {
	background: $sColor;
	border: 3px solid $mColor;
	box-shadow: 4px 4px 0 $sColor;
	transition: all 0.1s;
}

.start:hover,
.start:focus {
	border-style: dashed;
	font-weight: 700;
}

.start:active {
	transition: all 0.1s;
	box-shadow: none;
	transform: translate(4px, 4px);
}

.start:disabled {
	opacity: 0;
}
