html {
	font-size: 150%;
}

body {
	//hacky way to get rid of white space underneath footer
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: $bgColor;
	text-align: center;
	text-transform: uppercase;
	font-family: $tFont;
	color: $mColor;
}

.wrapper {
	margin: 0 auto;
	width: 90%;
	max-width: 800px;
	min-width: 290px;
}
ul {
	list-style: none;
	padding: 0;
}

.game {
	margin: 0.5rem auto;
	width: 60%;
	display: flex;
	justify-content: space-between;
}

span {
	font-weight: 700;
}

h1 {
	margin: 10px;
	text-shadow: 2px 2px $sColor;
}

.start {
	background: $sColor;
	border: 3px solid $mColor;
	box-shadow: 4px 4px 0 $sColor;
	transition: all 0.1s;
}

.start:hover,
.start:focus {
	border-style: dashed;
	font-weight: 700;
}

.start:active {
	transition: all 0.1s;
	box-shadow: none;
	transform: translate(4px, 4px);
}

.start:disabled {
	opacity: 0;
}

footer {
	background: $mColor;
	color: $bgColor;
	padding: 10px;
}
