//background-color:
$bgColor: rgb(240, 240, 255);
//primary/main text color:
$mColor: #0a2239;
//secondary color:
$sColor: #85bde8;
//title font:
$tFont: 'Schoolbell', cursive, sans-serif;
//main font:
$mFont: 'Comfortaa', cursive;
